/*

  COLORS

  Tokens that define the color system and theme.

  Contents:
    - Colors
    - Tints & Shades (Variants)
    - Theme
  
*/

// COLORS
// ────────────────────────────────────

$pm-navy: #071D49;
$gray-darker: #454545;
$gray-dark: #707070;
$gray: #CCCCCC;
$gray-light: #EBEBEB;
$gray-lighter: #F5F5F5;
$black: #000000;
$white: #FFFFFF;