/*
  
  TYPOGRAPHY
  
  Tokens for typographic elements.

*/

// BASE 
// ────────────────────────────────────
// Used to initialize the root font styles

// FONT STACKS

// Generic
$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-sans-serif !default;

// Brand specific
// PM
$font-palatino: "Palatino Nova", Palatino, Garamond, serif;
// PM, G4
$font-helvetica: "Helvetica Now", "Helvetica Now Text", "Helvetica Neue", Helvetica, Arial, sans-serif;
// G4
$font-gfont: GFONT, $font-helvetica;

// Library
$font-caslon: "ltc-caslon-pro", $font-palatino;
$font-mina: 'mina', $font-palatino;
$font-proxima: 'proxima-nova', $font-helvetica;
